<div class="span4"></div>
<div id="login_form" class="span4 well">
  <form accept-charset="UTF-8" action="/login" class="new_user" id="form_sign_in" method="post" data-remote="true">
    <p>
      <input class="span12" id="user_nickname" name="user[nickname]" placeholder="Nickname" size="30" type="text">
    </p>
    <p>
      <input class="span12" id="user_password" name="user[password]" placeholder="Password" size="30" type="password">
    </p>
    <button type="submit" class="btn">Login</button>
  </form>
</div>
<div class="span4"></div>
