<h1>Equipe - <%= team.escape("name") %> - Editar</h1>

<div class="errors-container"></div>

<div id="team-form">
	<button class="btn back" data-loading-text="sending...">Voltar</button>
	<button id="team-form-submit" class="btn" data-loading-text="sending...">Submit</button>
</div>
