<h1>Equipe - <%= team.escape("name") %></h1>

<div class="team">Exibir as informações</div>

<button class="btn back" data-loading-text="sending...">Voltar</button>
<button class="btn edit" data-loading-text="sending...">Editar</button>
<button class="btn delete" data-loading-text="sending...">Deletar</button>
