<div id="nav-bar" class="navbar navbar-fixed-top"></div>

<div class="container-fluid">
  <div class="row-fluid">

    <div id="side-bar" class="span3"></div>

    <div id="content-container" class="span9"></div><!--/span-->

  </div><!--/row-->

  <hr>

  <footer>
    <p>&copy; Sal e Sol</p>
  </footer>

</div><!--/.fluid-container-->

