<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Acampantes</li>
    <li><a data-router="campers" href="/campers"> Visualizar</a></li>
    <li><a data-router="campers" href="/campers/new">Criar</a></li>
    <li class="nav-header">Quartos</li>
    <li><a data-router="rooms" href="#">Visualizar</a></li>
    <li><a data-router="rooms" href="#">Criar</a></li>
    <li class="nav-header">Equipes</li>
    <li><a data-router="teams" href="#">Visualizar</a></li>
    <li><a data-router="teams"href="#">Criar</a></li>
  </ul>
</div><!--/.well -->
