<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Acampantes</li>
    <li><a data-router="campers" href="/campers"> Visualizar</a></li>
    <li><a data-router="campers" href="/campers/new">Criar</a></li>
    <li class="nav-header">Equipes</li>
    <li><a data-router="teams" href="/teams">Visualizar</a></li>
    <li><a data-router="teams" href="/teams/new">Criar</a></li>
    <li class="nav-header">Atividades</li>
    <li><a data-router="activities" href="/activities">Visualizar</a></li>
    <li><a data-router="activities" href="/activities/new">Criar</a></li>
  </ul>
</div><!--/.well -->
