<div id="login_container" class="row-fluid">
	<div class="span4"></div>
  <div id="login_form" class="span4 well">
    <form method="post" action="/login">
      <p>
        <input type="text" id="username" name="username" placeholder="Username" class="span12" />
      </p>
      <p>
        <input type="password" id="password" name="password" placeholder="Password" class="span12" />
      </p>
      <button type="submit" class="btn">Login</button>
    </form>
  </div>
  <div class="span4"></div>
</div>