<%#<div id="login_container" class="row-fluid">
	<div class="span4"></div>
  <div id="login_form" class="span4 well">
    <%= form_for(User.new, :url => '/login', :html => {:id => :form_sign_in}) do |f| % >
      <p>
        <%= f.text_field :nickname, :class => "span12", :placeholder => "Nickname" % >
      </p>
      <p>
        <%= f.password_field :password, :class => "span12", :placeholder => "Password" % >
      </p>
      <button type="submit" class="btn">Login</button>
    <% end % >
  </div>
  <div class="span4"></div>
</div>
%>