<h1>Atividade - <%= activity.escape("title") %> - Editar</h1>

<div class="errors-container"></div>

<div id="activity-form">
	<button class="btn back" data-loading-text="sending...">Voltar</button>
	<button id="activity-form-submit" class="btn" data-loading-text="sending...">Submit</button>
</div>
