<h1>Atividade - <%= activity.escape("title") %></h1>

<div class="activity">Exibir as informações</div>

<button class="btn back" data-loading-text="sending...">Voltar</button>
<button class="btn edit" data-loading-text="sending...">Editar</button>
<% if ( activity.get('checkpoint') ) { %>
	<button class="btn checkpoints" data-loading-text="sending...">Checkpoints</button>
<% } %>
<button class="btn delete" data-loading-text="sending...">Deletar</button>
