<h1>Acampante - <%= camper.escape("name") %> - Editar</h1>

<div class="errors-container"></div>

<div id="camper-form">
	<button class="btn back" data-loading-text="sending...">Voltar</button>
	<button id="camper-form-submit" class="btn" data-loading-text="sending...">Submit</button>
</div>
