<td><%= camper.escape('name') %></td>
<td><%= camper.escape('age') %></td>
<td><%= camper.get('team') ? camper.get('team').escape('name') : "Sem Time" %></td>
<td><%= camper.get('room') ? camper.get('room').escape('name') : "Sem Quarto" %></td>
