<h1>Acampante - <%= camper.escape("name") %></h1>

<div class="camper">Exibir as informações</div>

<button class="btn back" data-loading-text="sending...">Voltar</button>
<button class="btn edit" data-loading-text="sending...">Editar</button>
<button class="btn delete" data-loading-text="sending...">Deletar</button>
